/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Bodoni MT', 'Didot LT STD', 'Book Antiqua', 'Times New Roman', serif;
}

h1 a {
    text-decoration: none;
    font-size: 1.5em;
    color: #4a4a4a;
    line-height: .75em;
}

nav a:hover {
/*     height: 15px;
    width: 60px; */
    background-color: #C2ABD5;
    transition: all .3s ease-in-out;
}

.navhr {
    width: 50px;
}

.articlehr {
    margin-top: 75px;
}

a.label {
    text-decoration: none;
    color: #4a4a4a;
 
}

nav a {
    display: block;
    text-decoration: none;
    color: #4a4a4a;
    line-height: 2em;
}


h2 {
    padding-top: 30px;
}

.first {
    padding-top: 0px;
}

p {
    padding-top: 15px;
    padding-bottom: 15px;
}

.sidenav {
    text-decoration: none;
    width: 33.3%;
    float: left;
    padding: 40px 30px 20px 60px;
    position: relative;
}

.hole {
    height: 60px;
    width: 60px;
    background-color: #C2ABD5;
    border-radius: 40px;
    position: absolute;
    top: 6%;
    left: 7%;
    z-index: -2;
}
/* front page collage styles*/
.collage1 {
    position: relative;
    width:  66.6%;
    float: left;
    padding: 40px 30px 40px 0px;
}

.collage1 img:nth-of-type(-n+2) {
    width:  48%;
    float:  left;
}

.collage1 img:first-of-type {
    margin-right: 4%;

}

/* Last three images */
.collage1 img:nth-of-type(n+4) {
    width:  30%;
    float:  left;
    margin-top: 10%;
    margin-right: 3%;
}

/* image in the middle */
.collage1 img:nth-of-type(3) {
    position: absolute;
    transform: rotate(7deg);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .25);
    width: 33%;
    top: 45%;
    left: 30%;
    z-index: 5;
}

/* second collage
 */
.collage2 {
    position: relative;
    width:  66.6%;
    float: right;
    padding: 0px 30px 40px 0px;
}

.collage2 img:nth-of-type(-n+3) {
    width:  30%;
    float:  left;
    margin-right: 3%
}

.morte {
    clear: both;
    width: 25%;
    float:  left;
}

.disney {
    width: 60%;
    float:  left;
}
/* .collage2 img:nth-of-type(n+4) {
    width:  48%;
    float: left;
    margin-right: 4%;
    margin-top: 4%;
} */

/* .collage2 img:nth-of-type(5) {
    width:  60%;
    float:  left;
    margin-top: 4%;
} */

/* hover styles */
.collage1 img,
.collage2 img {
    transition: all .5s ease-in-out;
    box-shadow: 0;
    -webkit-transform: translateX(0);
    transform: translateX();
}

.collage1 img:hover,
.collage2 img:hover {
    box-shadow: 5px 5px #FF4531;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

/* Page 2 Styles */

.sidebararticle {
    width: 25%;
    float: left;
    padding: 40px 30px 20px 60px;
}

.sidebararticle img:nth-of-type(3) {
    left: 35%;
    top: 40%;
}
.articletext {
    float: left;
}

 .sidenav2 {
    font-size: .5em;
    padding: 40px 30px 20px 60px;
 }

.article {
    width: 66.6%;
    position: relative;
    float: right;
    padding: 0px 30px 40px 0px;
}

.articleimage {
    width: 400px;
}

/* footer styles*/
 footer {
    background-color: #4A4A4A;
    color: white;
    clear: both;
    padding: 50px 20px 50px 20px;
    text-align: center;
}

/* alt page styles */

.header {
  height: 350px;
  background: url('../img/vol1/facehand.png');
  background-size: cover;
/*   margin: 0 auto; */
  background-attachment: fixed;
}

.images {
    width: 33.3%;
    float: left;
    padding: 70px;
}

.images img {
    width: 400px;
    padding-bottom: 80px;
}

.image2 {

}

.articletext {
    width: 66.6%;
    float: left;
    padding:  50px 100px;
}


.logo {
    width: 80px;
    position: absolute;
    top: 6%;
    left: 5%;
    z-index: 1;
}

p.intro:first-letter {
 font-size : 300%;
 font-weight : bold;
 float : left;
 width : 1em;
 height: 1em;
 color : #FF4531;
 padding-right: 10px;
 }
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
